/******** OVERRIDE NAVBAR STYLING FOR LANDING PAGE ONLY ********/
.navbar {
	background: transparent;
}

.navbar .btn-link, .navbar-brand {
	color: #F4F4EF;
}

.navbar-brand:hover {
	color: #F4F4EF;;
}

/******** OTHER ********/
.big-graphic-head {
	background-image: url('/images/lightbulb.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: white;
	height: 100vh;
}

@media (max-width: 900px) {
	.big-graphic-head {
		background-attachment: scroll;
	} 
}


.big-graphic-head-text {
	position: absolute;
	left: 40vw;
	top: 25vh;
}

#about-us {
	padding: 15px;
	margin: 40px auto 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#about-us img {
	width: 23vw;
	margin-bottom: 3%;
	margin-right: 30px;
}

.divisions {
	margin-bottom: 60px;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.divisions h1 {
	margin-bottom: 20px;
}

.division p {
	padding: 8px;
}

.division {
	margin: 8px;
	width: 300px;
	line-height: 100%;
	position: relative;
}

.division a {
	color: white;
}

.division-title, .division-content {
	padding: 15px;
}

.img {
	display: block;
  	width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 45px;
  transition: .5s ease;
}

.division:hover .overlay {
   height: 100%;
}

.build-stuff .overlay {
	background-color: rgba(172,190,190,.95);
}

.rnd .overlay {
	background-color: rgba(160,29,38,.95);
}

.inspire .overlay {
	background-color: rgba(144,175,197,.95);
}

.launch .overlay {
	background-color: rgba(51,107,135,.95);
}

.partnership .overlay {
	background-color: rgba(118,54,38,.95);
}

.icon-swirl {
	line-height: 100%;
}