* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}

.page-content {
	margin: 70px 0;
}

.page-header {
	/*position: relative;*/
	/*height: 15vh;*/
	width: 100%;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.visible {
	visibility: visible;
	opacity: 1;
}
