* {
	margin: 0;
	padding: 0;
}

.page-content {
	padding: 30px 30px 60px 30px;
}

.page-header {
	position: relative;
	height: 60vh;
}

.page-header-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,.8);
	line-height: 25vh;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.visible {
	visibility: visible;
	opacity: 1;
}
