.project-gallery {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	width: 250px;
	margin: 15px;
	background-color: white;
}

.card-image-native {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card-text {
	text-align: center;
	color: #2A3132;
}

.card-title {
	text-align: center;
	color: #2A3132;
}

a:hover {
	text-decoration: none;
}