<link rel="stylesheet" type="text/css" href="/css/native/footer.css">

<div class="footer">
	<img src="/images/logo_white.png" id="footer-img">
	<p>ECE Department | UC San Diego</p>
</div>

</body>
</html>