<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class="footer">
	<div id="footnote">
		<p>Project in a Box</p>
		<p>ECE Department | UC San Diego</p>
	</div>
</div>

</body>
</html>