<link rel="stylesheet" type="text/css" href="/css/footer.css">

<div class="footer">
	<img src="/images/logo_white.png" id="footer-img">
	<!-- <p>Project in a Box</p> -->
	<p>ECE Department | UC San Diego</p>
</div>

</body>
</html>