<!DOCTYPE html>
<html>
<head>
	<title>PiB</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<header>

	<nav class="navbar fixed-top navbar-light bg-faded">
		<a class="navbar-brand" href="/">PiB LOGO</a>

		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/">Home</a>
			<a class="nav-item nav-link" href="/projects">Projects</a>
			<a class="nav-item nav-link" href="/getinvolved">Get Involved</a>
		</div>
	</nav>

</header>