<header class='navbar'>
	<section class='navbar-section'>
		<a href='/' class='btn btn-link'>Home</a>
		<a href='/projects' class=''>Projects</a>
		<a href='/rnd' class='btn btn-link disabled'>R&D</a>
		<a href='/inspire' class='btn btn-link disabled'>Inspire</a>
		<a href='/partnership' class='btn btn-link disabled'>Partnership</a>
		<a href='/launch' class='btn btn-link disabled'>Launch</a>
	</section>

	<section class='navbar-center'>
		<a href='/' class='navbar-brand'>Project in a Box</a>
	</section>

	<section class='navbar-section'>
		<a href='/projects/new' class='btn'>Add Project</a>
	</section>
</header>