<header class="navbar">
	<section class="navbar-section">
		<a href="/" class="btn btn-link">Home</a>
		<a href="/projects" class="btn btn-link">Projects</a>
		<a href="#" class="btn btn-link disabled">R&D</a>
		<a href="#" class="btn btn-link disabled">Inspire</a>
		<a href="#" class="btn btn-link disabled">Partnership</a>
		<a href="#" class="btn btn-link disabled">Launch</a>
	</section>

	<section class="navbar-center">
		<a href="/" class="navbar-brand">Project in a Box</a>
	</section>

	<section class="navbar-section">
		<a href="/projects/new" class="btn">Add Project</a>
	</section>
</header>