<link rel="stylesheet" type="text/css" href="/css/native/header.css">
<link href="https://file.myfontastic.com/KUyicmjEFFRhtEB5uwKBkY/icons.css" rel="stylesheet">

<header class='navbar bg-light p-2'>
	<section class='navbar-section'>
		<a href='/' class='btn btn-link'>Home</a>
		<a href='/projects' class='btn btn-link'>Projects</a>
		<a href='/rnd' class='btn btn-link'>R&D</a>
		<a href='/inspire' class='btn btn-link'>Inspire</a>
		<a href='/partnership' class='btn btn-link'>Partnership</a>
		<a href='/launch' class='btn btn-link'>Launch</a>
	</section>

	<section class='navbar-center'>
		<a href='/' class='navbar-brand'>Project in a Box</a>
	</section>

	<section class='navbar-section'>
		<a href='/projects/new' class='btn btn-link'>Add Project</a>
	</section>
</header>