<!DOCTYPE html>
<html>
<head>
	<title>PiB</title>
	<link rel="stylesheet" type="text/css" href="/css/spectre/dist/spectre.min.css">
<style>

	body {
		background-color: #FFFFCE;
	}

	.content {
		position: absolute;
		top: 20vh;
		left: 20vw;
	}

	img {
		position: absolute;
		bottom: 20vh;
		right: 25vw;
	}

	@media screen and (max-width: 900px) {
		.content {
			position: absolute;
			top: 20vh;
			left: 5vw;
		}

		img {
			position: absolute;
			bottom: 10vh;
			right: 25vw;
		}
	}

</style>
</head>

<body>

	<div class='content'>
		<h1>Oops, we haven't made this page yet.</h1>
		<h3>Don't worry; it will come.</h3>
	</div>

	<img src='images/emoji.png'>

</body>
</html>