<% include partials/header %>
<br><br><br>
<p class="text-center text-large">This will be the landing page.</p>

<!-- <link rel="stylesheet" type="text/css" href="/css/landing.css">

<div class="head">
	<div class="head-text">
		Project in a Box
	</div>
</div>

<div class="container">

	<div class="intro-text">

		<p><big>Project-in-a-box is the student development team behind ECE 196 and ECE 188. We are a team of student engineers whose goal is to improve the hands-on education at UCSD Jacobs School of Engineering. We design and develop all of the projects that would eventually be used in ECE 196 or ECE 188. Currently, we have completed 7 projects that include (Guitar Effects, Binary Clock, Solar Tracker, Robotic Arm, Smart Mirror, IR Whiteboard, Arcade Emulator, etc.) and have nearly 15 active projects in progress.</big></p>

	</div>

	<hr>

	<div class="options">
		<div class="card">
			<h4 class="card-header">Build</h4>
			<img class="card-img-top" src="/images/build.jpeg" alt="Card image build">
			<div class="card-block">
				<p class="card-text">Browse our published projects and choose what to build - all of our materials and instructions are open source so that you can learn hands-on prototyping skills.</p>
				<a href="/projects" class="btn btn-primary">View Projects</a>
			</div>
		</div>
		<div class="card">
			<h4 class="card-header">Join</h4>
			<img class="card-img-top" src="/images/enroll.jpg" alt="Card image build">
			<div class="card-block">
				<p class="card-text">Learn about how to become involved with PiB, be it as a developer or by enrolling in our programs.</p>
				<a href="/getinvolved" class="btn btn-primary">Get Involved</a>
			</div>
		</div>
	</div>

</div> <!-- CONTAINER -->

<% include partials/footer %>