<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/landing.css">

<h1>landing page</h1>

<div class="head">
	<div class="head-text">
		Project in a Box
	</div>
</div>

<div class="container">

	<div class="intro-text">

		<p><big>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae placerat dolor. Quisque tempus quam dui, ut fringilla risus dictum at. Duis in dignissim nibh, ac lacinia nisl. Curabitur eu ipsum enim. Proin erat diam, aliquam id justo ullamcorper, porta auctor arcu. Suspendisse feugiat, quam sit amet lobortis venenatis, massa erat fermentum metus, ut tincidunt lacus enim eu ante. Maecenas et neque fermentum, euismod dolor in, porttitor justo. Curabitur metus diam, laoreet vel nisi sed, pharetra viverra enim. Vivamus sagittis, velit eu accumsan commodo, felis sem lacinia velit, vel blandit ligula nibh sit amet risus. Suspendisse malesuada congue sodales. In hac habitasse platea dictumst. Suspendisse mollis facilisis neque quis dignissim. Nullam libero turpis, commodo at elementum a, volutpat ut odio. Cras non augue eget dolor dignissim gravida. Nunc rhoncus, nisi nec hendrerit suscipit, orci urna suscipit purus, eu congue eros elit non ex. Nam vel elit augue.</big></p>

	</div>

	<hr>

	<div class="options">

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<h4 class="card-header">Build</h4>
					<img class="card-img-top" src="/images/build.jpeg" alt="Card image build">
					<div class="card-block">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae placerat dolor.</p>
						<a href="/projects" class="btn btn-primary text-center">View Projects</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<h4 class="card-header">Join</h4>
					<img class="card-img-top" src="/images/enroll.jpg" alt="Card image build">
					<div class="card-block">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae placerat dolor.</p>
						<a href="/projects" class="btn btn-primary text-center">Get Involved</a>
					</div>
				</div>
			</div>
		</div>

	</div>

</div> <!-- CONTAINER -->

<% include partials/footer %>