<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/project_details.css">

<div class="head">
	<div class="head-text">
		<%= project.title %>
	</div>
</div>

<div class="container">

	<div class="row">

		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<h4>Description</h4>
			<p><%= project.description %></p>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<img src="<%= project.mainImage %>" alt="project image">
			<% project.images.forEach(function(image) { %>
				<img src="<% image %>">
			<% }); %>
		</div>

		<a class="btn btn-danger btn-md">Build It</a>

	</div>
</div>

<% include partials/footer %>