<% include ../partials/head %>
<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/native/forms.css">

<div class='page-content'>
	<h1 class='text-center'>Add Your Project</h1>

	<div class='container'>
		<div class='columns'>
			<form class='column col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-6 centered' action='/projects' method='post' enctype='multipart/form-data'>

				<div class='columns'>
					<!-- NAME -->
					<div class='column form-group'>
						<label class='form-label' for='name'>Name</label>
						<input class='form-input' type='text' id='name' name='project[name]' placeholder='Binary Clock' required>
					</div>

					<!-- CREATORS -->
					<div class='column form-group'>
						<label class='form-label popover popover-right' for='name'>Creators
							<div class='popover-container'>
								<div class='card'>
									<div class='card-body'>Just list names, separated by commas. We'll take care of the rest.</div>
								</div>
							</div>
						</label>
						<input class='form-input' type='text' id='creators' name='project[creators]' placeholder='MrSwirlyEyes, Stitch' required>
					</div>
				</div>

				<!-- MAIN IMAGE -->
				<div class='form-group'>
					<label class='form-label' for='main-image'>Main Image</label>
					<input class='form-input' type='file' id='main-image' name='mainImage' required>
				</div>

				<!-- OTHER MEDIA -->
				<!-- todo other media -->

				<!-- HOOK -->
				<div class='form-group'>
					<label class='form-label' for='hook'>Hook<br><small>This is a <em>short</em> description of the project. Less than 150 characters please.</small></label>
					<input class='form-input' type='text' id='hook' name='project[hook]' placeholder="It's one thing to own a binary clock. It's another level of nerd to build one." maxlength='150' required>
				</div>

				<!-- FULL DESCRIPTION -->
				<div class='form-group'>
					<label class='form-label' for='description'>Description<br><small>This is the full description. No length limit (though more than one paragraph may be excessive). Talk about what the final product is, what they'll learn. Think about how you'd talk about the project if you were presenting it at an interview.</small></label>
					<textarea class='form-input' id='description' name='project[description]' placeholder='Spicy jalapeno bacon ipsum dolor amet laborum tenderloin shankle dolor lorem pancetta consectetur id prosciutto pastrami. Dolor capicola magna fugiat, laboris culpa biltong pariatur minim nisi. Nisi incididunt consectetur, strip steak ex dolore ullamco biltong veniam swine sed fatback. Doner picanha andouille tongue veniam tail meatball salami shankle. Sirloin laboris dolore consequat, in chicken ball tip short loin officia salami mollit magna prosciutto. Burgdoggen pork anim ham hock pork belly. Laborum id kielbasa, fugiat aliquip meatloaf cupidatat ullamco et pork kevin ham.' rows='8' required></textarea>
				</div>

				<!-- SKILLS LEARNED AND TAGS ROW -->
				<div class='columns'>
					<!-- SKILLS LEARNED -->
					<div class='column form-group'>
						<label class='form-label'>Skills Learned</label>
						
						<div class='panel' id='skill-panel'>
							<div class='panel-header'>
								<input type='text' class='form-input' id='skill-input' onkeyup='checkEnter_Skill(event, this)'>
								<div class='toast hidden' id='skills-learned-hint'>
								</div>
							</div>

							<div class='panel-body' id='skill-list'></div>
							<div class='panel-footer'></div>
						</div>
						<input type='text' name='skillsLearned' id='skills-learned' hidden required>
					</div>

					<!-- TAGS -->
					<div class='column form-group'>
						<label class='form-label popover popover-right'>Tags
							<div class='popover-container'>
								<div class='card'>
									<div class='card-body'>Tags are tools or resources that students need in order to complete the project.</div>
								</div>
							</div>
						</label>
						<div class='panel' id='tag-panel'>
							<div class='panel-header'>Select all that apply</div>

							<div class='panel-body'>
								<span class='chip c-hand' onclick='selectTag(this)'><span>EagleCAD</span></span>
								<span class='chip c-hand' onclick='selectTag(this)'><span>3D Printer</span></span>
								<span class='chip c-hand' onclick='selectTag(this)'><span>Laser Cutter</span></span>
								<% tags.forEach(function (tag) { %>
									<span class='chip c-hand' onclick='selectTag(this)'><span><%= tag.name %></span></span>
								<% }); %>
							</div>
							<div class='panel-footer input-group'>
								<input type='text' class='form-input' id='new-tag-input' onkeyup='checkEnter_Tag(event, this)'>
								<span class='btn btn-primary input-group-btn' onclick='checkEnter_Tag(event, this)'><i class='icon icon-check'></i></span>
							</div>
							<div class='modal' id='new-tag-warning-modal'>
							 	<div class='modal-overlay'></div>
							 	<div class='modal-container' onfocusout='closeModal(event, this)' tabindex='-1'>
									<div class='modal-header'>
							    		<div class='modal-title h3'>Warning</div>
							    	</div>
							    	<div class="modal-body">
							    		<p>When you add your project, this new tag will be added to our database so that builders can use it to filter projects, and other tutors can add it to their projects.</p>
							    		<p>If you add a tag which is redundant, misspelled, or otherwise not meaningful, you compromise the usefulness of our site. That's not fun.</p>
							    		<label class='form-switch'>
							    			<input type='checkbox'>
							    			<i class='form-icon'></i> I understand, and acknowledge that if I mess up our database with this tag, Stazia will be pissed AF.
							    		</label>
							    	</div>
							    	<div class='modal-footer'>
							    		<span class='btn disabled' id='add-tag-btn' onclick='addNewTag()'>Add Tag</span>
							    	</div>
							 	</div>
							</div> <!-- END MODAL -->
						</div>
						<input type='text' name='newTags' id='new-tags' hidden>
						<input type='text' name='tags' id='tags' hidden>
					</div> <!-- END TAGS -->
				</div>

				<!-- DIVISION/DOCUMENTATION AND SEQUENCE ROW -->
				<div class='columns'>
					<!-- DIVISION -->
					<div class='column'>
						<div class='form-group'>
							<label class='form-label' for='division'>Division</label>
							<select class='form-select' id='division' name='project[division]'>
								<option>R&D</option>
								<option>Inspire</option>
								<option>Partnership</option>
								<option>Launch</option>
							</select>
						</div>

						<div class='form-group'>
							<label class='form-label' for='documentation'>Documentation</label>
							<input class='form-input' type='file' id='documentation' name='documentation' required>
						</div>
					</div>

					<!-- SEQUENCE -->
					<div class='column form-group'>
						<label class='form-label popover popover-right' for='sequence'>Sequence
							<div class='popover-container'>
								<div class='card'>
									<div class='card-body'>As you type, select from the existing sequences. If you are creating a new sequence, simply ignore the suggestions and we'll create the sequence with this project.</div>
								</div>
							</div>
						</label>

						<input class='form-input' list='sequences' placeholder='Sequence name' name='project[sequence]' id='sequence' required>
						<datalist id='sequences'>
							<% sequences.forEach(function (sequence) { %>
								<option value='<%= sequence.name %>'>
							<% }) %>
						</datalist> 
					</div>
				</div>
				<br>
				<input type='button' class='btn btn-primary' value='Add Project' onclick="_submit()">
			</form>
		</div>
	</div>

</div>

<script type="text/javascript" src='/js/forms.js'></script>
<% include ../partials/footer %>