<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/css/projects.css">

<div class="head">
	<div class="head-text">
		Projects
	</div>
</div>

<div class="container">

		<% projects.forEach(function(project) { %>
			<div class="card">
				<a href="/projects/<%= project.page %>">
					<img class="card-img-top" src="<%= project.mainImage %>" alt="project image">
					<div class="card-block">
						 <h4 class="card-title"><%= project.title %> </h4>
						 <p class="card-text"><%= project.hook %></p>
					</div>
				</a>
			</div>
		<% }); %>

</div>

<% include partials/footer %>