<% include ../partials/head %>
<% include ../partials/header %>
<link rel='stylesheet' type='text/css' href='/css/native/show.css'>


<div class='page-content'>

	<div class='container'>
		<!-- ROW: DESCRIPTION AND MEDIA GALLERY -->
		<div class='columns'>
			<div class='column col-9 col-mx-auto project-info-and-media'>
			<!-- project-info-and-media is a flex box containing project-info and media-gallery -->

				<!-- PROJECT DESCRIPTION -->
				<div class='project-info p-2'>
					<div class='page-header'>
						<div class='h1 text-uppercase page-header-title'>
							<%= project.name %>
						</div>
						<p class='text-gray'>
							<% project.creators.forEach(function(creator) { %>
								<%= creator %>  | 
							<% }); %>
						</p>
					</div>

					<div class='project-description text-justify'>
						<h5>Description</h5>
						<p><%= project.description %></p>
					</div>
				</div>

				<!-- MEDIA GALLERY -->
				<div class='media-gallery p-2'>
					
				</div><!-- END MEDIA-GALLERY -->

			</div> <!-- END PROJECT-INFO-AND-MEDIA -->
		</div>

		<!-- ROW: SKILLS LEARNED AND RELATED PROJECTS -->
		<div class='columns'>
			<div class='column col-4 col-mx-auto skills-learned'>
				<h5>Skills Learned</h5>
				<ul>
					<% project.skillsLearned.forEach(function(skill) { %>
						<li><%= skill %></li>
					<% }); %>
				</ul>
			</div>

			<div class='column col-4 col-mx-auto related-projects'>
				<h5>Related Projects</h5>
			</div>
		</div>


		<!-- BUILD IT BUTTON -->
		<div class='btn btn-primary'>Build It</div>
	</div>

</div>
<% include ../partials/footer %>